[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = 8.1.1
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.10.0
[submodule "lib/easy_profiler"]
	path = lib/easy_profiler
	url = https://github.com/yse/easy_profiler.git
[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
