[submodule "cmake/kconfig-cmake"]
	path = cmake/kconfig-cmake
	url = git@github.com:ccvelandres/kconfig-cmake.git
[submodule "core/lib/openal-soft"]
	path = core/lib/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "core/lib/SDL_sound"]
	path = core/lib/SDL_sound
	url = https://github.com/icculus/SDL_sound
[submodule "core/lib/SDL_mixer"]
	path = core/lib/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "core/lib/easy_profiler"]
	path = core/lib/easy_profiler
	url = https://github.com/yse/easy_profiler.git
[submodule "core/lib/assimp"]
	path = core/lib/assimp
	url = https://github.com/assimp/assimp
[submodule "core/lib/spdlog"]
	path = core/lib/spdlog
	url = https://github.com/gabime/spdlog.git
