menu "Audio"

config CORE_AUDIO_ALLOW_FREQUENCY_CHANGE
    bool "Allow frequency change"
    default n
    help 
        If set to n, SDL2 will transparently handle frequency changes if the sound
        device does not support the requested frequency

config CORE_AUDIO_ALLOW_FORMAT_CHANGE
    bool "Allow format change"
    default n
    help 
        If set to n, SDL2 will transparently handle frequency changes if the sound
        device does not support the requested format

config CORE_AUDIO_ALLOW_CHANNEL_CHANGE
    bool "Allow channel change"
    default n
    help 
        If set to n, SDL2 will transparently handle frequency changes if the sound
        device does not support the requested channel

config CORE_AUDIO_ALLOW_SAMPLE_CHANGE
    bool "Allow sample change"
    default n
    help 
        If set to n, SDL2 will transparently handle frequency changes if the sound
        device does not support the requested sample

config CORE_AUDIO_ALLOW_ALL_CHANGE
    bool "Allow all change"
    default n
    select CORE_AUDIO_ALLOW_FREQUENCY_CHANGE
    select CORE_AUDIO_ALLOW_FORMAT_CHANGE
    select CORE_AUDIO_ALLOW_CHANNEL_CHANGE
    select CORE_AUDIO_ALLOW_SAMPLE_CHANGE
    help 
        If set to n, SDL2 will transparently handle frequency changes if the sound
        device does not support the requested audio spec

menu "Supported Formats"

    config CORE_AUDIO_FORMAT_FLAC
        bool "FLAC"
        default n

    config CORE_AUDIO_FORMAT_MOD
        bool "MP3"
        default y

    config CORE_AUDIO_FORMAT_MP3
        bool "MP3"
        default y

    config CORE_AUDIO_FORMAT_OGG
        bool "Ogg Vorbis"
        default y

    config CORE_AUDIO_FORMAT_MID
        bool "MP3"
        default y

    config CORE_AUDIO_FORMAT_OPUS
        bool "Ogg Opus"
        default y

endmenu

config CORE_AUDIO_MIX_CHANNELS
    int "Mix Channel Count"
    default 8
    help
        Defines how many mixing channels are allocated. If you need more than 8 sounds
        playing at the same time, try increasing this number

config CORE_AUDIO_USE_OPENAL
    bool "Use OpenAL as mixer"
    default n

endmenu
