menu "Queue"

choice
    prompt "Queue Implementation"
    default CORE_QUEUE_DEFAULT_STDMUTEX
    help
        This option selects the underlying implementation for thread-safe queues
        used within the core library

        When in doubt, use STDMUTEX

    config CORE_QUEUE_DEFAULT_STDMUTEX
        select CORE_QUEUE_STDMUTEX_ENABLE
        bool "std::mutex"

    config CORE_QUEUE_DEFAULT_LOCKFREE
        select CORE_QUEUE_LOCKFREE_ENABLE
        bool "lockfree"

endchoice

config CORE_QUEUE_STDMUTEX_ENABLE
    bool "Enable queues using std::mutex"

config CORE_QUEUE_LOCKFREE_ENABLE
    bool "Enable queues using lockfree atomics"

endmenu
