menu "Utils"

config CORE_PROFILER_ENABLE
    bool "Enable profiling"
    help
        Depends on third-party library - easy_profiler

config CORE_LOG_ENABLE
    bool "Enable Logging"
    help
        Enables logging
        Depends on third-party library - spdlog
        
source "Kconfig.logging"

source "Kconfig.queue"

endmenu
